<!doctype html>
<html lang="en">
<head>
    <title>注册</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../css/login.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/popper.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/main.js"></script>
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">欢迎注册</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="img" style="background-image: url(../../images/bg-1.jpg);"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">注册</h3>
                            </div>
                        </div>
                        <form action="#" class="signin-form">
                            <div class="form-group mt-3">
                                <input id="name" type="text" class="form-control" required>
                                <label class="form-control-placeholder" for="name">用户名</label>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" required>
                                <label class="form-control-placeholder" for="password-field">密码</label>
                            </div>
                            <div class="form-group">
                                <input id="phone" type="password" class="form-control" required>
                                <label class="form-control-placeholder" for="phone">手机号</label>
                            </div>
                            <div class="form-group">
                                <input id="email" type="password" class="form-control" required>
                                <label class="form-control-placeholder" for="email">邮箱</label>
                            </div>
                            <div class="form-group">
                                <button type="button" class="form-control btn btn-primary rounded submit px-3" data-toggle="modal" data-target="#eModal">注册
                                </button>
                            </div>
                        </form>
                        <p class="text-center">已经注册过了？ <a href="login.html">返回登陆</a></p>
                        <p class="text-center"><a href="index.html">返回主页</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade form-group" id="eModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">消息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    注册成功！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"><a href="login.html" style="text-decoration:none;color:white">跳转到登陆界面</a></button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../../js/bootstrap.min.js"></script>

</body>
</html>

